@use "./abstracts/breakpoints" as *;
@use "./abstracts/reset";
@use "./abstracts/colors" as *;
@use "./components/main";
@use "./components/hero";
@use "./components/button";
@use "./components/imageDrop";
@use "./components/navigation";
@use "./components/footer";
@use "./components/card";
@use "./components/postsindex";
@use "./components/addposts";
@use "./components/capricon";
@use "./components/gallery";

html {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.15rem;
  display: flex !important;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}
body.active {
  overflow-y: hidden;
}
.icon {
  display: inline-block;
  width: 1.2rem;
  vertical-align: middle;
}

.lorem {
  opacity: 0;
}
