$error: #ff0000;
$chili: #9b2335;
$coral: #ff6f61;
$header: darken($chili, 10%);
$sand: #dfcfbe;
$mimosa: #efc050;
$white: #ffffff;
$body: lighten($sand, 16%);
$turq: #55b4b0;
$tango: #dd4124;
$text: #1a1a1a;
$graytext: rgb(53, 52, 52);
$gray: #c3c3c3;
$bg: #3e8e9d;
