@use "./colors" as *;
$boxShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

$borderRadius: 0.4rem;

// transparent background

.frosted {
  background-color: rgba($bg, 0.15);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  // -webkit-box-shadow: $boxShadow;
  // -moz-box-shadow: $boxShadow;
  // box-shadow: $boxShadow;
}
.milki {
  background-color: rgba($sand, 0.85);
}
