@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $turq;
  span {
    display: inline-block;
    font-weight: 600;
  }
}
@media (max-width: $medium) {
  .footer {
    padding: 0.5rem 0;
    flex-direction: column;
    height: 10vh;
    span {
      text-align: center;
    }
  }
}
