@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $sand;
  span {
    display: inline-block;
    font-weight: 600;
  }
}
