@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  height: 8vh;
  width: 100%;
  background-color: $bg;
  span {
    display: inline-block;
    color: $white;
    font-weight: 600;
  }
}

@media (max-width: $medium) {
  .footer {
    padding: 0.5rem 0;
    flex-direction: column;
    height: 10vh;
    span {
      text-align: center;
    }
  }
}
