@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/helpers" as *;
.main {
  padding: 0;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  zoom: 1;
}
.user__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.5rem;
}
.user__info span {
  display: inline-block;
  color: $text;
  line-height: 2;
  font-size: clamp(1.1rem, calc(2vw + 1rem), 1.45rem);
}
@media screen and (min-width: $medium) {
  .main {
    min-height: 100%;

    grid-auto-columns: 1em 1fr 1em;
  }
}
@media (min-width: $large) {
  .user__info {
    padding: 0.5rem 0;
    flex-direction: row;
    justify-content: space-between;
    span {
      line-height: 3;
    }
  }
  .main {
    min-height: 100%;
    width: 100%;
  }
}
