@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.topnav {
  display: flex;
  justify-content: space-between;
width: 100%;
padding: 0 1rem;
  &__brand {
   width: 25%;
    a {
      text-align: center;
      color: $bg;
      text-decoration: none;
      font-weight: 600;
      font-size: clamp(1.3rem, calc(4vw + 1rem), 3rem);
    }
    &::first-letter {
      color: $coral;
      font-size: clamp(1.5rem, calc(5vw + 1rem), 3.4rem);
    }
  }
  &__menu {
    position: fixed;
    z-index: 999;
    display: none;
    top: 110px;
    right: 0px;
    height: 98vh;
    width: 100%;
    opacity: 0;
    transition: all 500ms ease-in;
  }
  &__menu.active {
    display: block;
    opacity: 1;
    background: rgba($white, 0.9);
  }
  &__nav,
  &__user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 30%;
    width: 80%;
  }
  &__toggle {
    display: block;
    margin: 0.5rem;
  }
  &__toggle span {
    display: block;
    width: 2.8rem;
    height: 0.3rem;
    margin: 0.5rem;
    background-color: $bg;
  }
  &__link {
    opacity: 0;
    color: $text;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $coral;
      text-decoration: underline;
    }
  }
  &__nav,
  &__user {
    display: flex;

    justify-content: space-around;
    width: 50%;
    list-style-type: none;
    margin-bottom: 0;
  }
}
.cross .topnav__toggle--icon1 {
  transform: rotate(-45deg) translate(-5px, 12px);
  background-color: $tango;
  transition: all 500ms ease-in;
}
.cross .topnav__toggle--icon2 {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.cross .topnav__toggle--icon3 {
  transform: rotate(45deg) translate(-5px, -12px);
  background-color: $tango;
  transition: all 350ms ease-in;
}
@media screen and (min-width: $medium) {
  .topnav {
    &__link {
      font-size: 2.4rem;
    }
    &__menu {
      top: 120px;
    }
  }
  .topnav__toggle span {
    display: block;
    width: 3rem;
    height: 0.4rem;
    margin: 0.5rem;
    background-color: $bg;
  }
  .cross .topnav__toggle--icon1 {
    transform: rotate(-45deg) translate(-5px, 14px);
  }
  .cross .topnav__toggle--icon3 {
    transform: rotate(45deg) translate(-5px, -14px);
  }
}
@media (min-width: $large) {
  .topnav {
    flex-direction: row;
    min-height: 8vh;

    top: 0;
    height: 10vh;
    align-items: center;
    &__link {
      font-size: 1.25rem;
    }
    &__menu {
      top: 0;
      position: relative;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      opacity: 1;
    }
    &__nav,
    &__user {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      width: 100%;
    }
    &__link {
      opacity: 1;
      text-decoration: none;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: 600;
    }
    &__toggle {
      display: none;
      cursor: pointer;
    }
  }
}
@keyframes navLinkFade {
  0% {
    opacity: 0;

    transform: translateY(3rem);
  }
  1% {
    opacity: 0;

    transform: translateY(2.8rem);
  }
  100% {
    opacity: 1;

    transform: translateY(0rem);
  }
}
