@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;

.post__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 0.3rem;
  &--title {
    display: inline-block;
    font-weight: 600;
    font-size: clamp(2rem, -0.875rem + 8.333vw, 2.6rem);
  }
  &--button {
    display: flex;
  }
}
